{:transforms
 [[:head]
  [:append
   [:link {:rel "stylesheet", :type "text/css" :href "css/highlight.css"}]
   [:link {:id "theme-style" :rel "stylesheet", :type "text/css" :href "css/theme-light.css"}]
   [:link {:id "highlight-style" :rel "stylesheet", :type "text/css" :href "css/highlight-googlecode.css"}]
   [:script {:type "text/javascript", :src "js/highlight.min.js"}]
   [:script {:type "text/javascript", :src "js/jquery.min.js"}]
   [:script {:type "text/javascript", :src "js/page_effects.js"}]
   [:script "hljs.initHighlightingOnLoad();"]]
   ;; [:link {:rel "stylesheet", :type "text/css" :href "css/theme-dark.css"}]
   ;; [:link {:rel "stylesheet", :type "text/css" :href "css/highlight-nord.css"}]

  [:#header]
  [:append
   [:div#theme-selector
    [:span.theme-label "Theme"]
    [:div#select-theme-light.select-theme "Light"]
    [:div#select-theme-dark.select-theme "Dark"]]]]

 :resources
 ["css/highlight-googlecode.css"
  "css/theme-light.css"
  "css/theme-dark.css"
  "css/highlight.css"
  "css/highlight-nord.css"
  "js/highlight.min.js"
  "js/jquery.min.js"
  "js/page_effects.js"]}
